
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif !important;
    margin: 0;
    padding: 100px 0;
    color: #000;
    font-size:100%;
    letter-spacing: 1px;
}
#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: rgb(240, 119, 45);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}
#header #header-content {
    margin: 5px;
}
.div-1 {
	color: rgb(128, 128, 128);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.div-2 {
   color: rgb(240, 119, 45);
  text-decoration: none;
  width: 50%;
  margin: 0 auto;

}

.div-3 {
   color: rgb(38, 19, 7);
  text-decoration: none;
  
     font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 60px;

}

.content{
    background: rgba(0, 0, 0, 0) url("../images/bg-banner.png") no-repeat fixed center center / cover ;
    text-align: center;
}
a, a:focus, a:hover{
    text-decoration: none !important;
    color:rgb(68, 68, 68) !important;
}
.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent !important; }
.placeholder-fix:focus::-moz-placeholder   {color:transparent !important;}
.placeholder-fix:-moz-placeholder   {color:transparent !important;}
.loginpage {
    margin: 0 auto;
}
.loginpage .form-control{
    width:100%;
}


.whitebox {
  background: rgb(232, 232, 232);
  padding: 15px;
  border-radius: 3px;
}

.greybox {
  background: rgb(232, 232, 232);
  padding: 1px;
  border-radius: 300px;
}

.logo h2 {
    color: rgb(83, 83, 83);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 60px;
}
.loginpage input:first-child{
    background: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    height: 60px;
    margin: 0 0 5px;
    width: 100%;
    color: #403055;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
}

form {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  margin: auto;
  display: block;
  
  gap: 15pt;
  height: 300px;
    width: 700px;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
}
.form2 {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);

  gap: 15pt;
  height: 50px;
    width: 700px;
    margin: 10px;
    margin-top: 10px;
    text-align: center;

}

.loginpage input:nth-child(-n + 5){
    background: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    height: 60px;
    margin: 0 0 5px;
    width: 100%;
    color: #403055;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
}
.loginpage input:last-child{
    background: url(../images/lock.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    height: 60px;
    margin: 0 0 5px;
    width: 100%;
    color: #403055;
    font-weight: 600;
    border-radius: 0 0 5px 5px;
}
.form-control::-moz-placeholder {
    color: #403055 !important;
    font-weight: 600;
    letter-spacing: 1px;
}
.form-control::-webkit-input-placeholder{
    color: #403055 !important; 
    font-weight: 600;
    letter-spacing: 1px;    
}
.form-control:focus {
    border-color: transparent;
    box-shadow: none!important;
    outline: 0 none;
}
.action-button .btn-block {
    background-color: rgba(64,48,85,0.9);
    border: medium none;
    color: rgb(88, 88, 88);
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
}
.page-links {
    padding: 0;
    text-align: center;
    padding: 30px 0;
}
.page-links li{
    display: inline-block;
}
.page-links a {
    color: rgb(187, 37, 31);
    font-size: 13px;
    font-weight: 600;
    margin-right: 50px;
} 
.social-button {
    text-align: center;
}
.social-button > a {
    color: rgb(6, 2, 2);
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    padding: 12px 39px;
    border-radius: 4px;
}
.social-button a:first-child{
    background-color: rgba(56,83,141,0.6);
}
.social-button a:last-child{
    background-color: rgba(214,34,33,0.6);
    margin-right: 0px;
}
.social-button img {
    vertical-align: middle;
    margin-right: 10px;
}
.copyright {
    color: rgb(6, 2, 2);
    font-size: 16px;
    margin-top: 50px;
}
.copyright a, .copyright a:hover{
    color:rgb(182, 8, 45);
    text-decoration: none;
}
/*media query*/
@media (max-width: 1199px){
    .social-button > a {
        padding: 12px 22px;
    } 
    .page-links a {
        margin-right: 40px;
    }
}
@media (max-width: 991px){
    .social-button > a {
        padding: 12px 35px;
    }  
}
@media (max-width: 767px){
    body {
        padding: 50px 0;
    }
    .logo h2 {
        padding-bottom: 40px;
    }
    .loginpage input:first-child, .loginpage input:last-child, .action-button .btn-block{
        height: 45px;
    }
    .social-button > a {
        padding: 10px 21px;
    }
}
@media (max-width: 500px){
    .width-100{
        width:100% !important;
        margin: 0 !important;
    }
}